
header {
    margin: 5vw;
}

 .pad {
        padding-left: 5vw!important;
    }
    .container-fluid {
    padding-left: 15vw!important;
    padding-right: 15vw!important;
}
.subtle {
    color: #9CA62E;
}

.bootstrap-override {
    font-family: 'Open Sans', sans-serif;

}
