@media  (max-width: 991px) {
    img {
        position: relative!important;
        left: 38%!important;
    }
}
@media (max-width: 380px){
    img {
        position: relative!important;
        left: 25%!important;
    }
}


header {
    margin: 5vw;
}

 .pad {
        padding-left: 5vw!important;
    }
    .container-fluid {
    padding-left: 15vw!important;
    padding-right: 15vw!important;
}
.subtle {
    color: #9CA62E;
}

.bootstrap-override {
    font-family: 'Open Sans', sans-serif;

}
